[submodule "External/facebook"]
	path = External/facebook
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "External/asihttprequest"]
	path = External/asihttprequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "External/mbprogresshud"]
	path = External/mbprogresshud
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "External/mixpanel"]
	path = External/mixpanel
	url = git://github.com/mixpanel/mixpanel-iphone.git
