<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageKey</key>
		<string>happy_piglet.jpg</string>
		<key>nameKey</key>
		<string>Happy Piglet</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>beagle_attack.jpg</string>
		<key>nameKey</key>
		<string>Angry Beagle</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>honey_badger.jpg</string>
		<key>nameKey</key>
		<string>Honeybadger!</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>sad_panda.jpg</string>
		<key>nameKey</key>
		<string>Sad Panda</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>high_kittens.jpg</string>
		<key>nameKey</key>
		<string>High Kittens</string>
	</dict>
</array>
</plist>
